torch
torchvision
torchaudio
torch-geometric
torch-scatter
transformers
peft
accelerate
deepspeed
huggingface-hub
datasets
sentencepiece
protobuf
wandb
pandas
numpy
scipy
scikit-learn
gensim
pcst_fast
gdown
tqdm
ninja
pyyaml
